
/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #ff2600; /* Verde Neon (diferente, moderno e destaca o nome) */
    --text-color: #e5e5e5; /* Cinza claro para texto, suave e legível */
    --bg-color-01: #121212; /* Preto fosco (Dark mode classe) */
    --bg-color-02: #1e1e1e; /* Cinza carvão (dá profundidade nas seções) */
    --color-oo: #ffffff1a; /* Transparência leve para efeitos */

    /* Extras (detalhes) */
    --color-01: #555555; /* Cinza neutro (subtítulos, bordas suaves) */
    --color-02: #00c853; /* Verde petróleo (botões e destaques) */
    --color-03: #9b51e0; /* Roxo elétrico (hover e detalhes modernos) */
    --color-04: #d63031; /* Vermelho carmesim (alertas ou detalhes agressivos) */
    --color-05: #242424; /* Preto mais suave (cards e backgrounds) */
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--bg-color-01);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--bg-color-01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.nav-responsive {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-color-01);
}

.nav a, .nav-responsive a{
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;
}

.nav a:hover, .nav-responsive a:hover{
    color: var(--main-color);
}

section {
    height: 100%;
    padding: 6rem 6rem 2rem;
}

span{
    color: var(--main-color);
}

.home, .about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.home-img{
    position: relative;
    border-right: solid 0.6rem var(--main-color);
    border-bottom: solid 0.6rem var(--main-color);
    background-clip: content-box;
    border-image: linear-gradient(135deg,transparent 50%,var(--main-color)) 1;
}

.about-img{
    position: relative;
    border-left: solid 0.6rem var(--main-color);
    border-bottom: solid 0.6rem var(--main-color);
    background-clip: content-box;
    border-image: linear-gradient(225deg,transparent 50%,var(--main-color)) 1;
}

.home-img img, .about-img img{
    display: block;
    width: 100%;
    height: auto;
}

.home-content, .about-content{
    width: 45%;
}

.home-content p, .about-content p{
    font-size: 20px;
    margin-top: 1.2rem;
    text-align: justify;
}


.home-content h3, .about-content h3{
     font-weight: 700;
     font-size: 1.6rem
}

.home-content h1, .about-content h1{
    padding: 0.3rem;
    margin-left: 0;
    font-weight: 700;
    line-height: 1.3rem;
}

.about {
    background-color: var(--bg-color-02);
}

.services h2,
.portfolio h2,
.contact h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.services-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
    margin-bottom: 1rem;    
}


.services-container .services-box {
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem var(--bg-color-01);
    background-color: var(--bg-color-02);
    transition: 0.5s ease;     
}

.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.01);
}

.services-box i{
    font-size: 4.3rem;
    color: var(--main-color);
}

.services-box h3{
    font-size: 1.5rem;
}

.services-box p {
    margin: 0.5rem;
    letter-spacing: 0.1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    box-orient: vertical;
}


/* button */
.btn {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    color: var(--bg-color-02);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
}

.btn:hover {
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    color: var(--main-color);
    cursor: pointer;
}
/* /button */

/*  menu hamburguer */
.menu-hamburguer{
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3{
    width: 2rem;
    height: 0.3rem;
    background-color: var(--text-color);
    margin: 0.4rem 0;
    transition: 0.3s ease;
}

.change .bar1{
    transform: translate(0, 0,65rem) rotate(-45deg);
}

.change .bar2{
  opacity: 0;
}

.change .bar3{
    transform: translate(0, -0,65rem) rotate(45deg);
}
/*  /menu hamburguer */

.portfolio {
    background-color: var(--bg-color-02);
}

.portfolio-container {
    display: grid;
    gap: 1.2rem;
}

.portfolio-box {
    position: relative;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem var(--bg-color-01);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: 0.1s ease;
}

.portfolio-box img:hover {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(35rem);
    transition: 1s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 1.8rem;
    color: var(--text-color); /* Certifique-se de que o texto é visível */
}

.portfolio-player p {
    margin: 0.2rem 0 0.5rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 1.2rem;
    color: var(--bg-color-02);
}


form {
    max-width: 45rem;
    margin: 0.6rem auto;
    text-align: center;
    margin-bottom: 2rem;
}

form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .input-box input, form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--bg-color-02);
    border-radius: 0.5rem;
    margin: 0.4rem 0;
}

form textarea {
    resize: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--bg-color-01);
}


.social-media img {
    width: 3.5rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: solid 0.15rem var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1.8rem 0.5rem;
    transition: 0.5s ease;
}

.social-media a:hover{
    background-color: var(--main-color);
    color: var(--bg-color-02);
    box-shadow: 0 0 0.3rem var(--main-color);
}



/* media queries*/

@media (min-width: 0px) {
    .menu-hamburguer {
        display: block;
    }
    

    .nav{
        display: none;
    }

    .nav-responsive a{
        display: block;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    section{
        padding: 6rem 2.5rem;
    }

    .home, .about{
        flex-direction: column;
        gap: 1.2rem;
    }

    .home-img, .about-img{
        width: 80%;
        margin: 0 auto;
    }

    .home-content, .about-content{
        width: 100%;
    }

    .home-content div{
        text-align: center;
    }

    .home-content h1, .about-content h1{
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3rem;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .services-box {
        width: 100%;
    }
}

@media (min-width: 576px){
    .home-img, .about-img{
      width: 65%;
      max-width: 65%;  
    }

    .home-content, .about-content{
        width: 100%;
    }

    .services-box {
        width: 100%;
    }
}

@media (min-width: 768px){

    .menu-hamburguer {
     display: none;   
    }

    .nav {
        display: block;
    }

    .nav-responsive, .nav-responsive a {
        display: none;
    }

    .home, .about{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .home-img, .about-img{
        max-width: 35%; 
    }

    .home-content, .about-content {
        width: 50%;
    }

    .services-box {
        width: 60%;
        margin-bottom: 2rem;
    }

    .portfolio-container {
        grid-template-columns: auto auto;
    }

    form .input-box input {
        width: 49%;
    }
}

@media (min-width: 992px){
    .services-container{
        flex-direction: row;
        gap: 1.2rem;
    }
}

@media (min-width: 1200px){
    .home-img, .about-img{
        max-width: 25%;
    }

    .home-content h1{
        font-size: 2.7rem;
    }

    .home-content h3{
        font-size: 2rem;
    }

    .portfolio-container {
        grid-template-columns: auto auto;
    }

    header{
        background-color: var(--color-05);
    }
}
/* /media queries*/